<div data-controller="share-modal" data-share-url="<%= request.original_url %>">
  <div class="mb-4 flex">
    <div class="grow-0 p-1 rounded-full hover:bg-gray-200 cursor-pointer" data-modal-target="closeButton">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </div>
  </div>

  <div>
    <p class="mb-4 text-2xl font-medium antialiased">About this place</p>
    <div>
      <%= @property.description %>
    </div>
  </div>
</div>
