<div
  id="modal-wrapper"
  class="hidden relative z-10"
  data-controller="modal"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true">

  <div class="hidden" id="modal-trigger" data-action="click->modal#showModal"></div>

  <div
    id="modal-backdrop"
    class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    data-transition-enter="ease-out duration-300"
    data-transition-enter-start="opacity-0"
    data-transition-enter-end="opacity-100"
    data-transition-leave="ease-in duration-200"
    data-transition-leave-start="opacity-100"
    data-transition-leave-end="opacity-0">
  </div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        id="modal-panel"
        class="hidden relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl sm:p-6"
        data-transition-enter="ease-out duration-300"
        data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave="ease-in duration-200"
        data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      >
        <div>
          <div class="mb-4 flex">
            <div class="grow-0 p-1 rounded-full hover:bg-gray-200 cursor-pointer" data-modal-target="closeButton">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </div>

            <div class="grow">
              <h3 class="pr-7 text-md text-center font-semibold leading-6 text-gray-900" id="modal-title">Log in or sign up</h3>
            </div>
          </div>

          <div class="relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
          </div>

          <div class="pt-4">
            <h4 class="text-2xl leading-6 font-medium text-gray-900 mt-2">Welcome to Airbnb</h4>
            <div class="rounded-lg mt-6 px-3 pb-1.5 pt-2.5 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-black">
              <label for="name" class="block text-xs font-medium text-gray-900">Email</label>
              <input type="text" name="name" id="name" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="hikaru@mail.ru">
            </div>
          </div>
        </div>
        <div class="my-5 sm:my-6">
          <button type="button" class="w-full rounded-lg airbnb-pick-gradient px-6 py-3 text-base font-medium text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">Continue</button>
        </div>
        <div class="relative">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center">
            <span class="bg-white px-2 text-sm text-gray-500"> or </span>
          </div>
        </div>
        <div class="mt-5 sm:mt-6">
          <button type="button" class="w-full inline-flex justify-center items-center rounded-lg bg-white px-6 py-3 text-base font-medium text-gray-700 border border-black shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="display: block; height: 20px; width: 20px; margin-right: 10px" aria-hidden="true" role="presentation" focusable="false"><path fill="#1877F2" d="M32 0v32H0V0z"></path><path fill="#FFF" d="M22.94 16H18.5v-3c0-1.27.62-2.5 2.6-2.5h2.02V6.56s-1.83-.31-3.58-.31c-3.65 0-6.04 2.21-6.04 6.22V16H9.44v4.63h4.06V32h5V20.62h3.73l.7-4.62z"></path></svg>
            Continue with Facebook
          </button>
        </div>
      </div>
    </div>
  </div>
</div>